/* HOME PAGE NAME/TITLE START */
.home-page-name {
  text-align: center;
  color: #00b200;
  font-size: 10vh;
  }
/* HOME PAGE NAME/TITLE END */


/* HOME PAGE STARTS  */
.home {
  font-size: 4vh;
  margin: 2vh;
  padding: 1vh;
  text-align:justify;
  color: #00b200;
}
/* HOME PAGE ENDS  */
