/* NAVIGATION BAR STARTS */
.nav-bar {
  display: inline-block;
  list-style-type: none;
  background: white;
  text-decoration: none;
}
    li {
        float: left;
        text-decoration: none;
    }
    li a {
        display: inline-block;
        color: #3ea4ee;
        text-align: center;
        padding: 1vw;
        border-radius: 7.5px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #02afdd;
        color: white;
        animation: pulse 1s;
        text-decoration: none;
    }

    @keyframes pulse {
      0% {transform: scale(1);}
      50% {transform: scale(1.1);}
      100% {transform: scale(1);}
    }
/* NAVIGATION BAR ENDS */
